@charset "UTF-8";

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.bigred {
  font-size: 20px;
  color: red;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 35px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
}

.header__logo {
  position: absolute;
  left: 46%;
  top: 0;
  z-index: 2;
  -webkit-transform: translate(-50%, 0px, 0px);
      -ms-transform: translate(-50%, 0px, 0px);
          transform: translate(-50%, 0px, 0px);
}

.header__logo img {
  position: absolute;
  top: -19px;
  left: 40%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  position: relative;
  color: #4d4959;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  padding: 0px 37.5px;
}

.menu__list li:nth-child(2) {
  padding: 0px 110px 0px 37.5px;
}

.menu__list li:nth-child(3) {
  padding: 0px 37.5px  0px 110px;
}

.menu__list li::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #4d4959;
  border-radius: 50%;
  right: 0;
  top: 50%;
  margin: -3px 0 0 0;
}

.menu__list li:nth-child(2):after,
.menu__list li:last-child:after {
  display: none;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots {
  padding: 100px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-dots li {
  padding: 0 5px 0 0;
}

.slick-dots li button {
  font-size: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #c8c8c8;
  background-color: transparent;
}

.slick-dots li.slick-active button {
  background-color: #a9afb3;
}

.slider {
  background-color: #f7f7f7;
  padding: 120px 0 60px 0;
}

.slider__icon {
  margin: 0 0 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__title {
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 20px 0;
  text-align: center;
}

.slider__title span {
  font-weight: 400;
  color: #848789;
}

.slider__text {
  text-align: center;
  color: #848789;
  font-style: italic;
  font-size: 24px;
  line-height: 34px;
}

body {
  font-family: Lato;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*============ibg IMAGES======================*/

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

/*============ END ibg IMAGES======================*/

.generation {
  padding: 120px 0;
  background-color: #f7f7f7;
}

.block {
  text-align: center;
}

.block__icon {
  margin: 0 0 30px 0;
}

.block__title {
  /* Style for "A NEW GENE" */
  color: #353738;
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  margin: 20px 0 20px 0;
}

.block__text {
  color: #848789;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
}

.brends_rev .brends__column {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.brends_rev .brends__column_b {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.brends__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brends__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.brends__column_b {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
}

.brends__content {
  padding: 70px 0 0 0;
  position: relative;
}

.brends__content::after {
  position: absolute;
  bottom: -10px;
  left: 49%;
  margin-right: -10px;
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  z-index: 10;
}

.brends__images {
  padding: 0px 0px 37.51% 0px;
}

.item {
  height: 100%;
  display: block;
  position: relative;
}

.item__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
  z-index: 2;
  background-color: rgba(246, 133, 11, 0.6);
  opacity: 0;
  visibility: hidden;
}

.item .item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
}

.block__title {
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.block__text {
  padding: 0 70px;
  color: #848789;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.block__text_j {
  padding: 0 70px 70px 70px;
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
}

.block__text_j::after {
  content: '';
  display: block;
  margin: 35px  auto 0px auto;
  width: 50px;
  height: 1px;
  background-color: #848789;
}

.shop__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666%;
          flex: 0 1 16.666%;
}

.shop__column_b {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.shop__footer {
  margin-top: -5px;
  background-color: #282f35;
  padding: 75px 0;
  text-align: center;
}

.shop__btn {
  display: inline-block;
  height: 50px;
  line-height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  padding: 0 60px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

.block-shop {
  height: 100%;
}

.block-shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.block-shop__item {
  height: 100%;
  padding: 0px 0px 50% 0px;
}

.block-shop__item_b {
  padding: 0px 0px 200.5% 0px;
}

.block-shop__item_l {
  padding: 0px 0px 100% 0px;
}

.subscribe__body {
  padding: 110px 0;
  max-width: 534px;
  margin: 0 auto;
  text-align: center;
}

.subscribe__logo {
  margin: 0 0 40px 0;
}

.subscribe__lable {
  color: #848789;
  font-family: Lato;
  font-size: 24px;
  line-height: 34px;
  font-style: italic;
  margin: 0 0 35px 0;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 8px 0 0;
}

.subscribe__input .input {
  width: 100%;
  height: 69px;
  border: 1px solid #64c29e;
  background-color: #fff;
  padding: 0 28px;
  color: #929292;
  font-style: italic;
  font-size: 20px;
}

.subscribe__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 126px;
          flex: 0 0 126px;
}

.subscribe__btn {
  width: 100%;
  height: 69px;
  line-height: 69px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  background-color: #f6850b;
}

.footer {
  background-color: #f7f7f7;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 108px 0;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.footer__adderss {
  color: #848789;
  font-size: 14px;
  line-height: 18px;
}

.footer__adderss p:first-child {
  font-weight: 700;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__link {
  padding: 0 7.5px;
}

.dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dev__text {
  padding: 0 9px 0 0;
  color: #848789;
  font-family: Lato;
  font-style: italic;
  font-size: 14px;
  line-height: 17.87px;
}

@media (max-width: 1500px) {
  .brends__content {
    padding: 35px 0 0 0;
  }

  .block__text {
    padding: 0 35px 35px 35px;
  }
}

@media (max-width: 1100px) {
  .brends_last .brends__column:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .brends_last .brends__column:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .brends_last .brends__column:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .brends__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .shop__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .shop__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .shop__column:first-child,
  .shop__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .shop__footer {
    padding: 50px 0;
  }

  .shop__btn {
    padding: 0 30px;
  }

  .footer {
    padding: 50px 0;
  }

  .footer__row {
    padding: 50px 0;
  }
}

@media (max-width: 1050px) {
  .slider {
    padding: 100px 10px 60px 10px;
  }

  .slider__text {
    padding: 0 -20px;
    font-size: 22px;
    line-height: 30px;
  }
}

@media (max-width: 900px) {
  .slick-dots {
    padding: 70px 0px 0px 0px;
  }

  .slider {
    padding: 70px 10px 60px 10px;
  }

  .generation {
    padding: 80px 0;
  }
}

@media (max-width: 767px) {
  .header__logo {
    left: 37%;
  }

  .header {
    top: 15px;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    overflow: auto;
    background-color: #4d4959;
    padding: 180px 0px 0px 0px;
    -webkit-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    -webkit-animation: 0.3s, 0s;
            animation: 0.3s, 0s;
  }

  .menu__body.active {
    top: 0;
  }

  .menu__link {
    color: #fff;
    font-size: 20px;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list li {
    font-size: 24px;
    padding: 0px 0px 30px 0px;
  }

  .menu__list li:nth-child(2),
  .menu__list li:nth-child(3) {
    padding: 0px 0px 45px 0px;
  }

  .menu__list li:nth-child(2)::after,
  .menu__list li:nth-child(3)::after {
    display: block;
  }

  .menu__list li:last-child {
    padding: 0;
  }

  .menu__list li::after {
    width: 4px;
    height: 4px;
    background-color: #fff;
    right: 50%;
    top: 50px;
    margin: 0px -2xp 0px 0px;
  }

  .menu__list li:nth-child(1) {
    top: 0px;
    margin-bottom: 15px;
  }

  body.lock {
    overflow: hidden;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: absolute;
    right: 30px;
    top: 0;
    z-index: 70;
  }

  .icon-menu span {
    content: '';
    position: absolute;
    background-color: #4d4959;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
  }

  .icon-menu::before,
  .icon-menu::after {
    content: '';
    position: absolute;
    background-color: #4d4959;
    width: 100%;
    height: 2px;
    left: 0;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu.active::before {
    background-color: #fff;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .icon-menu.active::after {
    background-color: #fff;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .icon-menu.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu__link:last-child {
    padding-bottom: 30px;
  }
}

@media (max-width: 750px) {
  .subscribe__body {
    padding: 50px 0;
  }
}

@media (max-width: 700px) {
  .slider {
    padding: 30px 10px 40px 10px;
  }

  .slider__text {
    padding: 0 -20px;
    font-size: 18px;
    line-height: 35px;
  }
}

@media (max-width: 600px) {
  .header__logo {
    left: 34%;
  }

  .generation {
    padding: 30px 0;
  }

  .footer {
    padding: 0 0 10px 0;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0;
  }

  .footer__social {
    margin: 15px 0;
  }

  .footer__dev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__adderss {
    padding: 0;
  }
}

@media (max-width: 500px) {
  .subscribe__form {
    display: block;
  }

  .subscribe__input {
    padding: 0 0  8px 0;
  }
}

@media (max-width: 400px) {
  .slick-dots {
    padding: 20px 0px 0px 0px;
  }
}

@media (max-width: 350px) {
  .header__logo {
    left: 30%;
  }
}

@media (max-height: 400px) {
  .header__logo {
    left: 30px;
  }

  .menu__list {
    position: absolute;
    top: 40px;
    left: 40%;
  }
}